@import "src/Styles/App.scss";

.button {
  font-family: $primary;
  font-weight: 700;
  border-radius: 60px;
  border: none;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  border: 2px solid $primary;
}
