#featured {
  width: 100%;
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(217, 224, 236, 0.2);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}

.featured-wrapper {
  width: 1200px;
  height: 455px;
  margin: 65px 120px 99px 120px;

  h1 {
    font-size: 28px;
    font-family: "Candal", sans-serif;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 55px;
  }

  .feature-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .feature-item {
      width: 380px;
      height: 366px;

      .images-wrapper {
        width: 379px;
        height: 272px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .img-md {
          width: 266px;
          height: 272px;
          margin-right: 10px;
        }

        .img-sm {
          width: 104px;
          height: 85px;

          &:nth-child(2) {
            margin: 3px 0;
          }
        }
      }

      .feature-bottom {
        width: 100%;
        margin-top: 28px;

        h2 {
          font-family: "DM Sans", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
          text-transform: capitalize;
          margin-bottom: 10px;
        }

        .bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .bottom-left {
            width: 105px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
              font-family: "DM Sans", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}
