@import "src/Styles/App.scss";

.navbar-wrapper {
  width: 100%;
  height: 110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    width: 107px;
    height: 29px;
    font-size: 24px;
    font-style: normal;
    font-family: $secondary;
    line-height: 29px;
    color: $primary;
    text-transform: uppercase;
    cursor: pointer;
  }

  .nav-links {
    width: 320px;
    height: 21px;
    list-style: none;
    margin-left: 66px;
    margin-right: 80px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      font-size: 16px;
      font-family: $primary;
      font-weight: 500;
      line-height: 21px;
      text-transform: capitalize;
      letter-spacing: 0.04em;
      color: $secondary;
    }
  }

  .search-bar {
    width: 300px;
    height: 50px;
    border: 2px solid #efefef;
    border-radius: 100px;
    padding: 8px 10px 8px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      width: 85%;
      height: 30px;
      border: none;
    }

    input:focus {
      outline: none;
    }

    button {
      border: none;
      background: transparent;
    }
  }
}

.nav-border {
  width: 100%;
  border: 1px solid #efefef;
}
